[Unit]
Description=Initialize RTC device driver
DefaultDependencies=no
Requires=systemd-modules-load.service
After=systemd-modules-load.service
Before=sysvinit.target
ConditionPathExists=/sys/class/i2c-adapter
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/rtc
ExecStart=/bin/sh -c "echo ${I2CNAME} ${I2CADDR} > /sys/class/i2c-adapter/i2c-${BUSNUM}/new_device"

[Install]
WantedBy=sysinit.target

